body{
    text-align: center;
    background-color: #ffcdb2;
}
h1{
    color: #b5838d;
    margin: 20px;
}

input{
    height: 38px;
    border-radius: 3px;
}
#add{
    margin-left: 20px;
    margin-bottom: 7px;
}
li{
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: larger;
    margin-top: 15px;
    color:rgba(116, 13, 107, 0.84);
}
.delete{
    float: right;
    margin-right: 300px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    height: 34px;
    width: 80px;
    background-color: rgba(249, 0, 0, 0.731);
    color:aliceblue;

}